*{
    font-family: "Times New Roman", Times, serif;
}

#header {	
    text-align: center;
    background-color: #247BA0;
}

#foto1 {
    width: 500px;
      height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul {
    float: right;
    background-color: #247BA0;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: #5ADBFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: yellow;
    height: 25px;
    color: white;
}

table {
    border-collapse: collapse;
    width: 100%;
}

caption {
    caption-side: bottom;
}

th, td {
    text-align: center;
    padding: 8px;
}

th {
    background-color: #094074;
    color: white;
}

.footer {
    background-color: white;
    padding: 0.5em;
    text-align: center;
}

.festa{
    font-size: 50px;
    color: white;
}

#button {
    
    background-color:red;
    color: white;
    padding-bottom: 30px;
    padding-left: 40px;
    padding: 20px 15px 25px 40px;
    margin: 50px 25px 0px 0px 
}
    #li-tag {
        margin-top:  50px;
        

    }

   th:hover {

    background-color: aqua;
   }
tr:nth-child(even){

    background-color: chartreuse;
}
tr :nth-child(odd){

    background-color: deeppink;
}

#foto1:hover {

    width: 200px;
    height: 200px;
    margin-left: 50PX;
    margin-top: 600PX;
}
    
#header {

    margin: left 300px;
    margin-top: 200px;

}


